<% include ../layouts/topo %>

<div id="content"> 
    <h2>Autores</h2>         
    <div>
        <a href="autor/create" class="pull-right btn btn-success m-b-20">Cadastrar Autor</a>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <th>Nome</th>
                    <th>Data de Nascimento</th>   
                    <th></th>                 
                </thead>
                <tbody>
                    <%
                    if(data){
                        for(var i = 0; i < data.length; i++){
                            %>
                            <tr>
                                <td><%= data[i].nome %></td>
                                <td><%= data[i].data_nascimento %></td>
                                <td>
                                    <a href="autores/update/<%= data[i].idautor %>" class="btn btn-warning">Editar</a>
                                    <a href="" class="btn btn-danger">Deletar</a>
                                </td>
                            </tr>
                            <%
                        }
                    }
                    %>                                                   
                </tbody>
            </table>
        </div>
    </div>
</div>

<% include ../layouts/rodape %>

