<% include ../layouts/topo %>

<div id="content"> 
    <h2>Autores</h2> 
    <div class="row mt-5">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/autor/update/<%= data.idautor %>" method="post">
                        <div class="form-group">        
                                <input type="text" name="nome" placeholder="Nome" class="form-control" value="<%= data.nome %>">
                            </div>
                            <div class="form-group">        
                                <input type="date" name="data_nascimento" placeholder="Data de Nascimento" class="form-control" value="<%= data.data_nascimento %>">
                            </div>
                            <div class="form-group">        
                                    <textarea id="story" name="descricao" rows="5" cols="93" placeholder="Descrição"><%= data.descricao %></textarea>
                            </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../layouts/rodape %>

